__pycache__/robot.cpython-312.pyc
__pycache__/tracker_coordinate_transform.cpython-312.pyc
__pycache__/tracker_sample.cpython-312.pyc
__pycache__/trackercal.cpython-312.pyc
__pycache__/triad_openvr.cpython-312.pyc
/*.pyc
